body{
    background-image: url("img/fundo.jpg");
    background-attachment: fixed;
    background-color: #000;
    margin: 0;
}
nav{
    background-color: #010912;
    position: absolute;
    width: 15%;
    height: 100%;
    right: 0%;
    margin-top: 0;
}
/*header{
    position: relative;
    width: 85%;
    height: 5em;
    background-color: transparent;
    border-bottom: 1px solid;
    border-color: #393d40;
}*/
#topo{
    background-color: transparent;
    position: absolute;
    border-bottom: 1px solid;
    border-color: #393d40;
    width: 100%;
    height: 8%;
}
#menu{
    background-color: transparent;
    position: relative;
    top:8%;
    width: 100%;
    height: 92%;
    margin: 0;
}
#icon{
    width: 50px;
    height: 50px;
}
#titulotopo{
    color: white;
    position: relative;
    top: 0.4em;
    float: right;
    margin-right: 3em;
    font-family: 'Times New Roman', Times, serif;
}
#titulomenu{
    color: #888579;
    position: relative;
    top: -0.8em;
    float: left;
    margin-left: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
#status{
    color: #07813a;
    position: relative;
    top: -0.8em;
    margin-left: 7em;
    font-family: 'Times New Roman', Times, serif;
}
.icon2{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #c8aa6e;
    margin: 4px;
	overflow: hidden;
    transition: 0.3s ease;    
}
.icon2:hover{
    transform: rotateY(180deg);
    opacity: 70%;
}
.icon1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #09303a;
    border: 2px solid;
    border-color: #c8aa6e;
	overflow: hidden;
	float: left;
	margin: 0.5em;
	transition: 0.3s ease;
}
#links{
    margin: 0; 
    padding: 0;
    float: left;
    width: 100%;
}
#links ul{
    padding: 0;
    position: relative;
    top: -45px;
}
#links ul li {
    margin: 0; 
    padding: 0;
    text-align: left;
    list-style-type: none;
    }
    #links a::before {
        display: inline-block;
        margin-right: 1.5em;  
        content: '▸';
        overflow: hidden;
        transition: 0.3s ease;    
        }
        #links a:hover::before,.links a:focus::before {
        display: inline-block;
        margin-right: 1.5em;  
        content: '▸';
        transform: rotateZ(90deg);
        } 
    #links a:link {
		background: transparent;
		color: #666;
		font-weight: bold;
		text-decoration: none;
		padding: 8px;
		display: block;
        }
        #links a:hover {
            background: #192026;
            }